.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 100px;
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  width: 50%;
  margin-right: 10px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  button {
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #be1a1a;
    }
  }
}

.username {
  color: #496984;
  transition: all 0.5s ease;
}

.username:hover {
  color: var(--primary-color);
}

.username {
  margin-right: 10px;
}
