.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 100px;
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  width: 50%;
  margin-right: 10px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 20px;

  .logout-btn {
    border: none;
    color: white;
    margin-left: 12px;

    &:hover {
      background-color: #be1a1a;
    }
  }
}

.username {
  color: #496984;
  transition: all 0.5s ease;
  margin-right: 10px;

  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
}

.language-button {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 4px;
  }
}

.selected {
  font-weight: bold;
  background-color: var(--neutral-color-light2);
  color: var(--primary-color);
}

.header-icon {
  color: #496984;
}

@media (orientation: portrait) and (max-width: 500px) {
  .logo {
    font-size: 1rem;
  }

  .logo img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .username {
    display: none;
  }

  .logout-btn {
    font-size: 12px;
  }
}
