<h5 class="header">{{ "EDIT_ORDER.TITLE" | translate }}</h5>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>{{ "EDIT_ORDER.FORM.TITLE_LABEL" | translate }}</mat-label>
    <input matInput formControlName="title" />
    @if (hasError('title', 'required')) {
    <mat-error>{{ "ORDER_FORM.TITLE_REQUIRED" | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>{{ "EDIT_ORDER.FORM.SELLER_LABEL" | translate }}</mat-label>
    <input
      type="text"
      placeholder="{{ 'ORDER_FORM.SELLER_PLACEHOLDER' | translate }}"
      matInput
      formControlName="seller"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of sellerOptions$ | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
    @if (hasError('seller', 'required')) {
    <mat-error>{{ "ORDER_FORM.SELLER_REQUIRED" | translate }}</mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="updateForm.pristine || updateForm.invalid"
    >
      {{ "EDIT_ORDER.UPDATE_BUTTON" | translate }}
    </button>
    <button mat-button color="warn" type="button" (click)="onClose()">
      {{ "EDIT_ORDER.CLOSE_BUTTON" | translate }}
    </button>
  </div>
</form>
