<h5 class="header">Edit Order</h5>

<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    @if (hasError('title', 'required')) {
    <mat-error>Title amount is required</mat-error>}
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>Seller</mat-label>
    <input
      type="text"
      placeholder="Select Seller"
      matInput
      formControlName="seller"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of sellerOptions$|async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
    @if (hasError('seller', 'required')) {
    <mat-error>Seller amount is required</mat-error>}
  </mat-form-field>
  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="updateForm.pristine || updateForm.invalid"
    >
      Update
    </button>
    <button mat-button color="warn" type="button" (click)="onClose()">
      Close
    </button>
  </div>
</form>
