.nameField{
  display: flex;
}
img {
  max-width: 50px;
  max-height: 50px;
}
.table-wrapper{
  overflow-x: scroll;
}
input{
  outline: none;
  border: none;
  background-color: rgb(204, 204, 204);
  padding: 2px 0 2px 2px;
  max-width: fit-content;

}
.search{
  display: flex;
  button, .x{
    max-width: 1rem;
    max-height: 1rem;
  }
}