<div class="form-container">
  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 id="login-h2" id="login-h2">Login</h2>
    <mat-form-field id="login-form-field">
      <mat-label>Email</mat-label>
      <input
        mat-error
        id="email"
        type="email"
        formControlName="email"
        matInput
      />
      @if(emailIsInvalid) {
      <mat-error>Please enter a valid email address</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="login-form-field">
      <mat-label>Password</mat-label>
      <input
        id="password"
        type="password"
        formControlName="password"
        matInput
      />
      @if (passwordIsInvalid) {
      <mat-error>
        Please enter a valid password (must be at least 10 characters long)
      </mat-error>
      }
    </mat-form-field>
    <span>
      <button
        mat-stroked-button
        type="button"
        id="login-form-button"
        id="login-form-button-fp"
      >
        Forgot Password?
      </button>
      <button
        type="submit"
        mat-stroked-button
        color="primary"
        id="login-form-button-submit"
      >
        Login
      </button>
    </span>
  </form>
</div>
