:host {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

