<p class="header">{{ "ADD_STRUCTURE.HEADER" | translate }}</p>
<form class="form" (submit)="getSmilesFromEditor($event)">
  <app-structure-editor [initialSmiles]="data.smiles"></app-structure-editor>
  <div class="actions">
    <button
      class="cancel-btn"
      type="button"
      mat-button
      mat-dialog-close
      color="warn"
    >
      {{ "BUTTONS.CANCEL" | translate }}
    </button>
    <button type="submit" class="save-btn" mat-flat-button>
      {{ "ADD_STRUCTURE.ADD_STRUCTURE_BUTTON" | translate }}
    </button>
  </div>
</form>
