:host {
  padding: 10px;
  padding: 10px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: relative;
}

.loader {
  font-size: 4px;
  width: 5px;
  height: 5px;
  left: unset;
  top: unset;
  transform: unset;
  right: 2px;
}

.mat-form-field-with-loader {
  position: relative;

  .mat-mdc-input-element {
    width: 90%;
  }
}
