<button mat-icon-button class="close-button" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
<div>
  <h1 class="new-order-h1">Create New Order</h1>
  
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      @if (orderForm.get('title')?.invalid && orderForm.get('title')?.touched) {
      <mat-error>Title is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <mat-label>Seller</mat-label>
      <input
        type="text"
        placeholder="Select Seller"
        matInput
        formControlName="seller"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of sellerOptions$|async; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource$"
      class="mat-elevation-z8 demo-table"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- desiredQuantity Column -->
      <ng-container matColumnDef="desiredQuantity">
        <th mat-header-cell *matHeaderCellDef>Desired quantity</th>
        <td mat-cell *matCellDef="let element">
          {{ element.desiredQuantity }} {{ element.quantityUnit }}
        </td>
      </ng-container>

      <!-- userComments Column -->
      <ng-container matColumnDef="userComments">
        <th mat-header-cell *matHeaderCellDef>userComments</th>
        <td mat-cell *matCellDef="let element">{{ element.userComments }}</td>
      </ng-container>

      <!-- casNumber -->
      <ng-container matColumnDef="casNumber">
        <th mat-header-cell *matHeaderCellDef>casNumber</th>
        <td mat-cell *matCellDef="let element">{{ element.casNumber }}</td>
      </ng-container>

      <!-- id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="onSelect(row.id)"
        [class.demo-row-is-clicked]="selectedReagents.has(row.id)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>

    @if (!selectedReagents.size && !reagentsSelectionError) {
    <div>No reagent choosen yet</div>
    } @else if (reagentsSelectionError) {
    <mat-error>Select at least one reagent</mat-error>
    }
    <ul>
      @for (name of selectedReagents; track name) {
      <li>Selected Reagent ID: {{ name }}</li>
      }
    </ul>

    <button mat-flat-button color="primary" type="submit">Submit</button>
  </form>
</div>
