<h3 class="header">Create New Order</h3>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>General</mat-card-header>
    <mat-card-content class="form-grid">
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        @if (orderForm.get('title')?.invalid && orderForm.get('title')?.touched)
        {
        <mat-error>Title is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Seller</mat-label>
        <input
          type="text"
          placeholder="Select Seller"
          matInput
          formControlName="seller"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of sellerOptions$|async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        @if (orderForm.get('seller')?.invalid &&
        orderForm.get('seller')?.touched) {
        <mat-error>Seller is required.</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>Requested Reagents</mat-card-header>
    <mat-card-content>
      <div class="filter-container">
        <mat-form-field appearance="fill">
          <mat-label>Search by name</mat-label>
          <input
            matInput
            (input)="onFilterName($event)"
            placeholder="Enter reagent name"
          />
        </mat-form-field>
      </div>
      @if (dataSource$ | async; as ReagentRequestResponse) {

      <div class="table-wrapper mat-elevation-z8">
        <table
          mat-table
          [dataSource]="ReagentRequestResponse.requests"
          matSort
          class="mat-elevation-z8"
          (matSortChange)="onSort($event)"
          [appSpinner]="isLoading()"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td mat-cell *matCellDef="let element" class="clickable-cell">
              <mat-checkbox
                [checked]="selectedReagents.has(element.id)"
                (change)="onCheckboxChange(element)"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element" mat-cell class="createdAt">
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="desiredQuantity">
            <th mat-header-cell *matHeaderCellDef>Desired quantity</th>
            <td mat-cell *matCellDef="let element">
              {{ element.desiredQuantity }} {{ element.quantityUnit }}
            </td>
          </ng-container>

          <ng-container matColumnDef="package">
            <th mat-header-cell *matHeaderCellDef>Package</th>
            <td mat-cell *matCellDef="let element">
              @if (element.package === null) {<span>N/A</span>}@else {
              {{ element.package }}
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
            <td mat-cell *matCellDef="let element" class="createdAt">
              {{ element.createdAt | date : "HH:mm:ss  dd-MM-yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userComments">
            <th mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let element">
              @if ( element.userComments) {
              {{ element.userComments }} }@else { N/A }
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="view details"
                (click)="openReagentDialog(element.id)"
                type="button"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            [class.demo-row-is-clicked]="selectedReagents.has(row.id)"
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>
      </div>
      }@else {<app-table-loader-spinner />}
    </mat-card-content>
  </mat-card>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title
        >{{ selectedReagentReq.length }} Selected Reagents</mat-panel-title
      >
    </mat-expansion-panel-header>
    <div class="reagents-list">
      @for (item of selectedReagentReq; track $index; let i = $index) {
      <mat-card>
        <mat-card-content class="reagent-item">
          <p class="reagent-item__seq">{{ i + 1 }}.</p>
          <p class="reagent-item__width">{{ item.name }}</p>
          <p class="reagent-item__width">
            {{ item.desiredQuantity }}{{ item.quantityUnit }}
          </p>
          @if (item.package) {
          <p class="reagent-item__width">{{ item.package }}</p>

          }@else { N/A }

          <app-molecule-structure
            class="reagent-item__structure"
            [structure]="item.structureSmiles!"
            [width]="50"
            [height]="50"
          />
        </mat-card-content>
      </mat-card>
      }
    </div>
    <div class="reagent-action">
      @if (reagentsSelectionError) {
      <mat-error>Select at least one reagent</mat-error>
      }
    </div>
  </mat-expansion-panel>
  <div class="actions mat-elevation-z6">
    <button
      mat-button
      color="warn"
      type="button"
      (click)="redirectToReagentList()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </div>
</form>
