<h3 class="header">Create New Order</h3>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>General</mat-card-header>
    <mat-card-content>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        @if (orderForm.get('title')?.invalid && orderForm.get('title')?.touched)
        {
        <mat-error>Title is required.</mat-error>
        }
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Seller</mat-label>
        <input
          type="text"
          placeholder="Select Seller"
          matInput
          formControlName="seller"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of sellerOptions$|async; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        @if (orderForm.get('seller')?.invalid &&
        orderForm.get('seller')?.touched) {
        <mat-error>Seller is required.</mat-error>
        }
      </mat-form-field>
      <p>Selected Reagents</p>
      <ul>
        @for (name of selectedReagentNames; track $index) {
        <li>Selected Reagent: {{ name }}</li>
        }@empty {
        <div>No reagent selected yet</div>
        }
      </ul>

      <div class="actions">
        <button
          mat-button
          color="warn"
          type="button"
          (click)="redirectToReagentList()"
        >
          Cancel
        </button>
        <button mat-flat-button color="primary" type="submit">Submit</button>
      </div></mat-card-content
    >
  </mat-card>
  <mat-card>
    <mat-card-header>Requested Reagents</mat-card-header>
    <mat-card-content>
      <div class="filter-container">
        <mat-form-field appearance="fill">
          <mat-label>Search by name</mat-label>
          <input
            matInput
            (input)="onFilterName($event)"
            placeholder="Enter a name"
          />
        </mat-form-field>
      </div>
      @if (dataSource$ |async; as ReagentRequestData) {

      <div class="table-container mat-elevation-z8">
        <table
          mat-table
          [dataSource]="ReagentRequestData.requests"
          matSort
          class="mat-elevation-z8"
          (matSortChange)="onSort($event)"
          [appSpinner]="isLoading()"
        >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td mat-cell *matCellDef="let element" class="clickable-cell">
              <mat-checkbox
                [checked]="selectedReagents.has(element.id)"
                (change)="onCheckboxChange(element)"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element" mat-cell>
              {{ element.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="desiredQuantity">
            <th mat-header-cell *matHeaderCellDef>Desired quantity</th>
            <td mat-cell *matCellDef="let element">
              {{ element.desiredQuantity }} {{ element.quantityUnit }}
            </td>
          </ng-container>

          <ng-container matColumnDef="package">
            <th mat-header-cell *matHeaderCellDef>Package</th>
            <td mat-cell *matCellDef="let element">
              @if (element.package === null) {<span>N/A</span>}@else {
              {{ element.package }}
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
            <td mat-cell *matCellDef="let element">
              {{ element.createdAt | date : "HH:mm:ss  dd-MM-yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userComments">
            <th mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let element">
              {{ element.userComments }}
            </td>
          </ng-container>

          <ng-container matColumnDef="casNumber">
            <th mat-header-cell *matHeaderCellDef>casNumber</th>
            <td mat-cell *matCellDef="let element">{{ element.casNumber }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="view details"
                (click)="openReagentDialog(element.id)"
                type="button"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            [class.demo-row-is-clicked]="selectedReagents.has(row.id)"
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>
      </div>
      @if (reagentsSelectionError) {
      <mat-error>Select at least one reagent</mat-error>
      }}@else {<app-table-loader-spinner />}
    </mat-card-content>
  </mat-card>
</form>
