<p class="header">
  {{
    editionData
      ? ("ADD_EDIT_STORAGE.EDIT" | translate)
      : ("ADD_EDIT_STORAGE.ADD_NEW" | translate)
  }}
  {{ "ADD_EDIT_STORAGE.STORAGE_LOCATION" | translate }}
</p>
<form class="form" [formGroup]="storageForm" (submit)="onSave()">
  <mat-form-field hideRequiredMarker>
    <mat-label>{{ "ADD_EDIT_STORAGE.ROOM_LABEL" | translate }}</mat-label>
    <mat-select formControlName="roomName">
      @for (room of filteredRooms$ | async; track $index) {
      <mat-option [value]="room.name">
        {{ room.name }}
      </mat-option>
      }
    </mat-select>
    @if (hasError('roomName', 'required')) {
    <mat-error>{{
      "ADD_EDIT_STORAGE.ERRORS.ROOM_REQUIRED" | translate
    }}</mat-error>
    } @if (hasError('roomName', 'roomError')) {
    <mat-error>{{ getErrorMessage("roomName", "roomError") }}</mat-error>
    } @if (hasError('roomName', 'roomNotFound')) {
    <mat-error>{{ getErrorMessage("roomName", "roomNotFound") }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>{{ "ADD_EDIT_STORAGE.NAME_LABEL" | translate }}</mat-label>
    <input matInput formControlName="name" />
    @if (hasError('name', 'required')) {
    <mat-error>{{
      "ADD_EDIT_STORAGE.ERRORS.NAME_REQUIRED" | translate
    }}</mat-error>
    } @if (hasError('name', 'maxlength')) {
    <mat-error>
      {{
        "ADD_EDIT_STORAGE.ERRORS.NAME_MAXLENGTH"
          | translate : { maxLength: MAX_LENGTH }
      }}
    </mat-error>
    } @if (hasError('name', 'uniqueName')) {
    <mat-error>{{ getErrorMessage("name", "uniqueName") }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>{{
      "ADD_EDIT_STORAGE.DESCRIPTION_LABEL" | translate
    }}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div class="actions">
    <button
      class="cancel-btn"
      type="button"
      mat-button
      mat-dialog-close
      color="warn"
    >
      {{ "ADD_EDIT_STORAGE.CANCEL" | translate }}
    </button>
    <button
      type="submit"
      [disabled]="storageForm.invalid || (editionData && !hasFormChanged())"
      class="save-btn"
      mat-flat-button
    >
      {{
        editionData
          ? ("ADD_EDIT_STORAGE.EDIT" | translate)
          : ("ADD_EDIT_STORAGE.SAVE" | translate)
      }}
    </button>
  </div>
</form>
