@if (order$ | async; as order) {
<div class="info">
  <div>
    <img src="/assets/icons/order.svg" alt="Order list" />
  </div>
  <div>
    <h1>Order Title: {{ order.title }}</h1>
    <h2>
      Seller: <span>{{ order.seller }}</span>
    </h2>
    <h3>
      Status: <span>{{ order.status }}</span>
    </h3>
    <h3>
      Created: <span>{{ order.createdAt | date : "dd/MM/yyyy - HH:mm" }}</span>
    </h3>

    @if (order.updatedAt === '') {
    <h3>
      Last updated:
      <span>{{ order.createdAt | date : "dd/MM/yyyy - HH:mm" }}</span>
    </h3>
    }@else {
    <h3>
      Updated: <span>{{ order.updatedAt | date : "dd/MM/yyyy - HH:mm" }}</span>
    </h3>
    }
  </div>
</div>

<h3>Ordered Reagents</h3>
<div class="mat-elevation-z8">
  <mat-table class="table" [dataSource]="order.reagents">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="casNumber">
      <mat-header-cell *matHeaderCellDef> casNumber </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.casNumber }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef>Modification Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.updatedAt === '') {
        <span>______</span>
        }@else { {{ element.updatedAt | date : "HH:mm:ss  dd-MM-yyyy" }}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="desiredQuantity">
      <mat-header-cell *matHeaderCellDef> Desired Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.desiredQuantity }} {{ element.quantityUnit }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="package">
      <mat-header-cell *matHeaderCellDef> Package </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.package === null) {
        <span>______</span>
        }@else { {{ element.package }} }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.status }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantityLeft">
      <mat-header-cell *matHeaderCellDef> Quantity Left </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.quantityLeft }}
        {{ element.quantityUnit }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="structureSmiles">
      <mat-header-cell *matHeaderCellDef>Structure</mat-header-cell>
      <mat-cell *matCellDef="let element" class="structure-container">
        <app-molecule-structure
          [structure]="element.structureSmiles"
          [width]="100"
          [height]="100"
        ></app-molecule-structure>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userComments">
      <mat-header-cell *matHeaderCellDef> Creator's comment </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.userComments }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="edit">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

} @else {
<app-table-loader-spinner />
}
