@if (order$ | async; as order) {
<div class="info">
  <div>
    <img src="/assets/icons/order.svg" alt="Order list" />
  </div>
  <div>
    <h2>
      Order Title: <span>{{ order.title }}</span>
    </h2>
    <h2>
      Seller: <span>{{ order.seller }}</span>
    </h2>
    <h3>
      Status: <span>{{ order.status }}</span>
    </h3>
    <h3>
      Created: <span>{{ order.createdAt | date : "dd/MM/yyyy - HH:mm" }}</span>
    </h3>

    @if (order.updatedAt === '') {
    <h3>
      Last updated:
      <span>{{ order.createdAt | date : "dd/MM/yyyy - HH:mm" }}</span>
    </h3>
    }@else {
    <h3>
      Updated: <span>{{ order.updatedAt | date : "dd/MM/yyyy - HH:mm" }}</span>
    </h3>
    }
  </div>
</div>
<div class="filter">
  <h3>Ordered Reagents</h3>
  <button class="add-btn" mat-flat-button (click)="onAdd(order.id)">
    Add reagent request
  </button>
</div>

<div class="mat-elevation-z8 table-content table">
  <mat-table [dataSource]="order.reagents">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="casNumber">
      <mat-header-cell *matHeaderCellDef> casNumber </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.casNumber === null || element.casNumber === '' ) {
        <span>N/A</span>
        }@else { {{ element.casNumber }} }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef>Modification Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.updatedAt === '') {
        <span>N/A</span>
        }@else { {{ element.updatedAt | date : "HH:mm:ss  dd-MM-yyyy" }}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="desiredQuantity">
      <mat-header-cell *matHeaderCellDef> Desired Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.desiredQuantity }} {{ element.quantityUnit }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="package">
      <mat-header-cell *matHeaderCellDef> Package </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.package === null) {
        <span>N/A</span>
        }@else { {{ element.package }} }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span
          class="status-label"
          [ngClass]="{
            'status-pending': element.status === 'Pending',
            'status-fulfilled': element.status === 'Fulfilled',
            'status-declined': element.status === 'Declined',
            'status-submitted': element.status === 'Ordered',
            'status-completed': element.status === 'Completed'
          }"
        >
          {{ element.status }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="structureSmiles">
      <mat-header-cell *matHeaderCellDef>Structure</mat-header-cell>
      <mat-cell *matCellDef="let element" class="structure-container">
        <app-molecule-structure
          [structure]="element.structureSmiles"
          [width]="100"
          [height]="100"
        ></app-molecule-structure>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userComments">
      <mat-header-cell *matHeaderCellDef> Creator's comment </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.userComments === null|| element.userComments === '') {
        <span>N/A</span>
        } @else{
        {{ element.userComments }}
        }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.status ==='Completed'){
        <button class="add-btn" mat-flat-button disabled="true">
          completed
        </button>
        } @else if (element.status === 'Fulfilled') {
        <button
          class="add-btn"
          mat-flat-button
          (click)="onCompleted(element.id)"
        >
          complete
        </button>
        }@else if (element.status === 'Ordered') {
        <button mat-icon-button aria-label="edit" (click)="onOpen(element)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="delete"
          (click)="onRemove(order.id, element)"
        >
          <mat-icon color="warn">delete</mat-icon></button
        >}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  @if(!order.reagents.length){
  <div class="no-reagents-container">
    <div>
      <img src="/assets/icons/no_data.svg" alt="no_data" />
    </div>
    <p>Order Empty</p>
  </div>
  }
</div>
} @else {
<app-table-loader-spinner />
}
