:host {
  padding: 20px 20px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.info {
  margin: 0 100px;
  display: flex;
  gap: 50px;
  box-sizing: border-box;
}
img{
  width: 164px;
  height: auto;
}
h1 {
  font-size: xx-large;
  margin-bottom: 0;
  color: var(--primary-color-dark);
}
h2,
h3 {
  font-size: x-large;
  margin-bottom: 0;
  color: var(--primary-color-dark);
}
span {
  color: var(--primary-color);
}
