@if (order$ | async; as order) {
<div class="info">
  <div class="info">
    <div
      [class.image]="order.status === 'Pending' || order.status === 'Submitted'"
    >
      <img
        src="/assets/icons/order.svg"
        alt="{{ 'ORDER_PAGE.ORDER_LIST_ALT' | translate }}"
      />
    </div>
    <div class="details">
      <h2>
        {{ "ORDER_PAGE.ORDER_TITLE" | translate }}:
        <span>{{ order.title }}</span>
      </h2>
      <h2>
        {{ "ORDER_PAGE.SELLER" | translate }}: <span>{{ order.seller }}</span>
      </h2>
      <h3>
        {{ "ORDER_PAGE.STATUS" | translate }}:
        <span>{{ "STATUSES." + (order.status | uppercase) | translate }}</span>
      </h3>
      <h3>
        {{ "ORDER_PAGE.CREATED" | translate }}:
        <span>{{ order.createdAt | date : "dd/MM/yyyy - HH:mm" }}</span>
      </h3>

      @if (order.updatedAt === '') {
      <h3>
        {{ "ORDER_PAGE.LAST_UPDATED" | translate }}:
        <span>{{ order.createdAt | date : "dd/MM/yyyy - HH:mm" }}</span>
      </h3>
      } @else {
      <h3>
        {{ "ORDER_PAGE.UPDATED" | translate }}:
        <span>{{ order.updatedAt | date : "dd/MM/yyyy - HH:mm" }}</span>
      </h3>
      }
    </div>
  </div>

  <div class="actions">
    @if (order.status === 'Pending') {
    <button mat-icon-button (click)="editOrder(order)">
      <mat-icon color="primary">edit</mat-icon>
    </button>
    <button mat-flat-button (click)="orderStatusChange(order.id, 'Submitted')">
      {{ "ORDER_FORM.SUBMIT" | translate }}
    </button>
    } @else if (order.status === 'Submitted') {
    <button
      mat-flat-button
      color="primary"
      (click)="orderStatusChange(order.id, 'Fulfilled')"
    >
      {{ "ORDERS_LIST.ACTIONS.FULFILL" | translate }}
    </button>
    <button
      mat-flat-button
      color="warn"
      (click)="orderStatusChange(order.id, 'Declined')"
    >
      {{ "ORDERS_LIST.STATUS.DECLINED" | translate }}
    </button>
    }
  </div>
</div>
<div class="add-reagent">
  <h3>{{ "ORDER_PAGE.ORDERED_REAGENTS" | translate }}</h3>
  @if (order.status === 'Pending') {
  <button class="add-btn" mat-flat-button (click)="onAdd(order.id)">
    {{ "ORDER_PAGE.ADD_REAGENT_REQUEST" | translate }}
  </button>
  }
</div>
<div class="table-container mat-elevation-z8">
  <div class="table-content">
    <table mat-table [dataSource]="order.reagents">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.NAME" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="casNumber">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.CAS_NUMBER" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element.casNumber === null || element.casNumber === '') {
          <span>{{ "ORDER_FORM.N_A" | translate }}</span>
          } @else { {{ element.casNumber }} }
        </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.MODIFICATION_DATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element.updatedAt === '') {
          <span>{{ "ORDER_FORM.N_A" | translate }}</span>
          } @else { {{ element.updatedAt | date : "HH:mm:ss  dd-MM-yyyy" }}}
        </td>
      </ng-container>

      <ng-container matColumnDef="desiredQuantity">
        <th th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.DESIRED_QUANTITY" | translate }}
        </th>
        <td td mat-cell *matCellDef="let element">
          {{ element.desiredQuantity }} {{ element.quantityUnit }}
        </td>
      </ng-container>

      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.PACKAGE" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element.package === null) {
          <span>{{ "ORDER_FORM.N_A" | translate }}</span>
          } @else { {{ element.amount }} {{ element.package }} }
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.STATUS" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <span
            class="status-label"
            [ngClass]="{
              'status-pending': element.status === 'Pending',
              'status-fulfilled': element.status === 'Fulfilled',
              'status-declined': element.status === 'Declined',
              'status-ordered': element.status === 'Ordered',
              'status-completed': element.status === 'Completed'
            }"
          >
            {{ "STATUSES." + (element.status | uppercase) | translate }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="structureSmiles">
        <th th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.STRUCTURE" | translate }}
        </th>
        <td td mat-cell *matCellDef="let element" class="structure-container">
          <app-molecule-structure
            [structure]="element.structureSmiles"
            [width]="50"
            [height]="50"
          ></app-molecule-structure>
        </td>
      </ng-container>

      <ng-container matColumnDef="userComments">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.CREATOR_COMMENT" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element.userComments === null|| element.userComments === '') {
          <span>{{ "ORDER_FORM.N_A" | translate }}</span>
          } @else {
          {{ element.userComments }}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ORDER_PAGE.TABLE.ACTIONS" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element.status === 'Completed') {
          <button class="add-btn" mat-flat-button disabled="true">
            {{ "ORDER_PAGE.COMPLETED" | translate }}
          </button>
          } @else if (element.status === 'Fulfilled') {
          <button
            class="add-btn"
            mat-flat-button
            (click)="onCompleted(element.id)"
          >
            {{ "ORDER_PAGE.COMPLETE" | translate }}
          </button>
          } @else if (element.status === 'Pending') {
          <button mat-icon-button aria-label="edit" (click)="onOpen(element)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="delete"
            (click)="onRemove(order.id, element)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    @if (!order.reagents.length) {
    <app-no-data [text]="'ORDER_FORM.NO_PENDING_REQUESTS' | translate" />
    }
  </div>
</div>
} @else {
<app-table-loader-spinner />
}
