:host {
  max-width: 800px;
  margin: 0 auto 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  position: relative;
}

.header {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color-dark);
}

form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
}

mat-card {
  width: 100%;

  mat-card-header {
    color: var(--primary-color-dark);
    margin-bottom: 10px;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

mat-form-field {
  width: 100%;
}

.actions {
  margin-left: auto;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

mat-form-field textarea {
  resize: none;
  overflow: hidden;
}

mat-form-field input[formControlName="orderId"] {
  min-height: 20px;
  max-height: 20px;
}

.full-width {
  grid-column: span 2;
}
