<h5 class="header">{{ "CREATE_REAGENT_REQUEST.HEADER" | translate }}</h5>
<form [formGroup]="reagentRequestForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>{{
      "CREATE_REAGENT_REQUEST.GENERAL" | translate
    }}</mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>{{
          "CREATE_REAGENT_REQUEST.NAME_LABEL" | translate
        }}</mat-label>
        <input matInput formControlName="name" />
        @if (reagentRequestForm.get('name')?.invalid &&
        reagentRequestForm.get('name')?.touched) {
        <mat-error>{{
          "CREATE_REAGENT_REQUEST.NAME_REQUIRED" | translate
        }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{
          "CREATE_REAGENT_REQUEST.DESIRED_QUANTITY_LABEL" | translate
        }}</mat-label>
        <input matInput formControlName="desiredQuantity" type="number" />
        @if (reagentRequestForm.get('desiredQuantity')?.invalid &&
        reagentRequestForm.get('desiredQuantity')?.touched) {
        <mat-error>{{
          "CREATE_REAGENT_REQUEST.DESIRED_QUANTITY_REQUIRED" | translate
        }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{
          "CREATE_REAGENT_REQUEST.QUANTITY_UNIT_LABEL" | translate
        }}</mat-label>
        <mat-select formControlName="quantityUnit">
          @for (unit of units; track unit.value) {
          <mat-option [value]="unit.value">
            {{ unit.viewValue }}
          </mat-option>
          }
        </mat-select>
        @if (reagentRequestForm.get('quantityUnit')?.invalid &&
        reagentRequestForm.get('quantityUnit')?.touched) {
        <mat-error>{{
          "CREATE_REAGENT_REQUEST.QUANTITY_UNIT_REQUIRED" | translate
        }}</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          "CREATE_REAGENT_REQUEST.STRUCTURE" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-panel-body">
        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.STRUCTURE_SMILES_LABEL" | translate
          }}</mat-label>
          <input matInput formControlName="structureSmiles" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="openStructureEditor()"
          >
            <mat-icon>draw</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.CAS_NUMBER_LABEL" | translate
          }}</mat-label>
          <input matInput formControlName="casNumber" />
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          "CREATE_REAGENT_REQUEST.ADDITIONAL_INFO" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-panel-body">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.USER_COMMENTS_LABEL" | translate
          }}</mat-label>
          <textarea matInput formControlName="userComments"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.ORDER_ID_LABEL" | translate
          }}</mat-label>
          <input matInput formControlName="orderId" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.PRODUCER_LABEL" | translate
          }}</mat-label>
          <input matInput formControlName="producer" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.CATALOG_ID_LABEL" | translate
          }}</mat-label>
          <input matInput formControlName="catalogId" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.CATALOG_LINK_LABEL" | translate
          }}</mat-label>
          <input matInput formControlName="catalogLink" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.PRICE_PER_UNIT_LABEL" | translate
          }}</mat-label>
          <input matInput formControlName="pricePerUnit" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.EXPIRATION_DATE_LABEL" | translate
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="expirationDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "CREATE_REAGENT_REQUEST.PACKAGE_LABEL" | translate
          }}</mat-label>
          <mat-select formControlName="packageType">
            <mat-option [value]="null">{{
              "CREATE_REAGENT_REQUEST.NONE" | translate
            }}</mat-option>
            @for (pkg of packages; track pkg.value) {
            <mat-option [value]="pkg.value">
              {{ pkg.viewValue }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="actions mat-elevation-z6">
    @if(isResearcher){
      <button mat-button color="warn" type="button" (click)="cancel()">
        {{ "CREATE_REAGENT_REQUEST.CANCEL" | translate }}
      </button>
    } @else if(isProcurementOfficer){
      <button mat-button color="warn" type="button" mat-dialog-close>
        {{ "CREATE_REAGENT_REQUEST.CANCEL" | translate }}
      </button>
    }
    <button mat-flat-button color="primary" type="submit">
      {{ "CREATE_REAGENT_REQUEST.SUBMIT" | translate }}
    </button>
  </div>
</form>
