<div class="container">
  <form class="form" [formGroup]="resetPasswordForm" (submit)="onSubmit()">
    <h5 class="title">{{ "RESET_PASSWORD.TITLE" | translate }}</h5>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>{{
        "RESET_PASSWORD.NEW_PASSWORD_LABEL" | translate
      }}</mat-label>
      <input
        type="password"
        matInput
        formControlName="newPassword"
        [type]="hide.newPassword ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide.newPassword = !hide.newPassword">{{
        hide.newPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
      @if ( hasError('newPassword', 'required') ) {
      <mat-error>
        {{ "RESET_PASSWORD.ERRORS.PASSWORD_REQUIRED" | translate }}
      </mat-error>
      } @if ( hasError('newPassword', 'minlength') ) {
      <mat-error>
        {{
          "RESET_PASSWORD.ERRORS.PASSWORD_MIN_LENGTH"
            | translate : { minLength: MIN_LENGTH }
        }}
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>{{
        "RESET_PASSWORD.CONFIRM_PASSWORD_LABEL" | translate
      }}</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        [type]="hide.confirmPassword ? 'password' : 'text'"
      />
      <mat-icon
        matSuffix
        (click)="hide.confirmPassword = !hide.confirmPassword"
        >{{ hide.confirmPassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      @if ( hasError('confirmPassword', 'required') ) {
      <mat-error>
        {{ "RESET_PASSWORD.ERRORS.CONFIRM_PASSWORD_REQUIRED" | translate }}
      </mat-error>
      } @if ( hasError('confirmPassword', 'passwordNoMatch') ) {
      <mat-error>
        {{ "RESET_PASSWORD.ERRORS.PASSWORD_NO_MATCH" | translate }}
      </mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button
        type="button"
        class="cancel-btn"
        mat-button
        (click)="redirectTo('login')"
      >
        {{ "RESET_PASSWORD.LOGIN" | translate }}
      </button>
      <button
        type="submit"
        [disabled]="resetPasswordForm.invalid || isLoading()"
        mat-flat-button
        color="primary"
      >
        @if (!isLoading()) {
        <span>{{ "RESET_PASSWORD.SUBMIT" | translate }}</span>
        } @else {
        <mat-progress-spinner
          [diameter]="24"
          mode="indeterminate"
          color="primary"
        >
        </mat-progress-spinner>
        }
      </button>
    </div>
  </form>
</div>
