<div class="container">
  <form class="form" [formGroup]="resetPasswordForm" (submit)="onSubmit()">
    <h5 class="title">Reset Password</h5>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>New password</mat-label>
      <input
        type="password"
        matInput
        formControlName="newPassword"
        [type]="hide.newPassword ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide.newPassword = !hide.newPassword">{{
        hide.newPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
      @if ( hasError('newPassword', 'required') ) {
      <mat-error> Password is required </mat-error>
      } @if ( hasError('newPassword', 'minlength') ) {
      <mat-error>
        Password must have at least {{ MIN_LENGTH }} characters </mat-error
      >}
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Confirm password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        [type]="hide.confirmPassword ? 'password' : 'text'"
      />
      <mat-icon
        matSuffix
        (click)="hide.confirmPassword = !hide.confirmPassword"
        >{{ hide.confirmPassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      @if ( hasError('confirmPassword', 'required') ) {
      <mat-error> Confirm password is required </mat-error>
      } @if ( hasError('confirmPassword', 'passwordNoMatch') ) {
      <mat-error> Password doesn't match </mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button
        type="button"
        class="cancel-btn"
        mat-button
        (click)="redirectTo('login')"
      >
        Login
      </button>
      <button
        type="submit"
        [disabled]="resetPasswordForm.invalid || isLoading()"
        mat-flat-button
        color="primary"
      >
        @if (!isLoading()) {
        <span>Submit</span>
        } @else {
        <mat-progress-spinner
          [diameter]="24"
          mode="indeterminate"
          color="primary"
        >
        </mat-progress-spinner>
        }
      </button>
    </div>
  </form>
</div>
