.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  width: fit-content;
  margin:2rem auto;
  border: 2px solid #005cbb;
  img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
  .profile-details {
    display: grid;
    gap: 1rem;
    justify-content: center;
    h3{
      font-size: x-large;
    }
    h4{
      font-size: medium;
    }
    h3,
    h4 {
      padding: 0;
      margin: 0;
    }
    form {
      margin: 1rem 0;
      display: grid;
      gap: 1rem;
      .submit-buttons {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
