<mat-sidenav-container>
  <mat-sidenav [opened]="isOpenedSideNav()" [mode]="sideNavMode()" [style.width]="navbarWidth()">
    <mat-nav-list>
      @for (link of menuLinks(); track link.label){ @if (isLinkVisible(link)) {
      <a
        mat-list-item
        [routerLink]="link.route"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        (click)="closeSideNav()"
      >
        <mat-icon aria-hidden="false" aria-label="Link icon" matListItemIcon>{{
          link.icon
        }}</mat-icon>
        <span matListItemTitle>{{ link.label }}</span>
      </a>
      } }
      @if (isMobile() && (currentUser$ | async); as currentUser) {
        <a
          mat-list-item
          class="username"
          routerLink="profile"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          (click)="closeSideNav()"
        >
          {{ currentUser?.firstName }} {{ currentUser?.lastName }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="navbarWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
