<h5 class="header">
  {{
    "EDIT_QUANTITY_REAGENT.HEADER"
      | translate : { category: categoryTranslated }
  }}
</h5>
<form [formGroup]="reagentRequestForm" (ngSubmit)="onSubmit()">
  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>{{
      "EDIT_QUANTITY_REAGENT.QUANTITY_LEFT" | translate
    }}</mat-label>
    <input matInput formControlName="quantityLeft" type="number" />
    @if (reagentRequestForm.get('quantityLeft')?.hasError('required') &&
    reagentRequestForm.get('quantityLeft')?.touched) {
    <mat-error>{{
      "EDIT_QUANTITY_REAGENT.ERRORS.QUANTITY_LEFT_REQUIRED" | translate
    }}</mat-error>
    } @if (reagentRequestForm.get('quantityLeft')?.hasError('pattern')) {
    <mat-error>{{
      "EDIT_QUANTITY_REAGENT.ERRORS.QUANTITY_LEFT_INVALID" | translate
    }}</mat-error>
    }
  </mat-form-field>
  <div class="actions">
    <button mat-button color="warn" type="button" mat-dialog-close>
      {{ "EDIT_QUANTITY_REAGENT.CANCEL" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="reagentRequestForm.pristine || reagentRequestForm.invalid"
    >
      {{ "EDIT_QUANTITY_REAGENT.EDIT" | translate }}
    </button>
  </div>
</form>
