.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter {
  display: flex;
  gap: 20px;
}
.mat-column-order-title {
  flex: 2;
}

.mat-column-creation-date,
.mat-column-modification-date,
.mat-column-seller,
.mat-column-status,
.mat-column-actions {
  flex: 1;
}
td,
th {
  min-height: 2.5rem;
}
