<div class="container">
  @if (!sendEmailSuccess().isSuccess) {
  <form class="form" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
    <h5 class="title">{{ "FORGOT_PASSWORD.TITLE" | translate }}</h5>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>{{ "FORGOT_PASSWORD.EMAIL" | translate }}</mat-label>
      <input matInput formControlName="email" />
      @if (hasError('email', 'required')) {
      <mat-error>{{ "FORGOT_PASSWORD.EMAIL_REQUIRED" | translate }}</mat-error>
      } @if ( hasError('email', 'email') ) {
      <mat-error>{{ "FORGOT_PASSWORD.EMAIL_INVALID" | translate }}</mat-error>
      } @if (hasError('email', 'emailNotExist')) {
      <mat-error>{{ "FORGOT_PASSWORD.EMAIL_NOT_EXIST" | translate }}</mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button
        type="button"
        class="cancel-btn"
        mat-button
        (click)="redirectTo('login')"
      >
        {{ "FORGOT_PASSWORD.LOGIN_BUTTON" | translate }}
      </button>
      <button
        type="submit"
        [disabled]="forgotPasswordForm.invalid || isLoading()"
        mat-flat-button
        color="primary"
      >
        @if (!isLoading()) {
        <span>{{ "FORGOT_PASSWORD.SUBMIT_BUTTON" | translate }}</span>
        } @else {
        <mat-progress-spinner
          [diameter]="24"
          mode="indeterminate"
          color="primary"
        >
        </mat-progress-spinner>
        }
      </button>
    </div>
  </form>
  } @else {
  <div class="success">
    <mat-icon class="success__icon">check_circle</mat-icon>
    <p class="success__message">{{ sendEmailSuccess().message }}</p>
  </div>
  }
</div>
