<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
  <h2>{{ formTitle }}</h2>

  <!-- First Name Field -->
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input
      matInput
      oninput="this.value = this.value.charAt(0).toUpperCase() + this.value.slice(1)"
      formControlName="firstName"
    />
    @if (userForm.get('firstName')?.hasError('required')) {
    <mat-error> First Name is <strong>required</strong> </mat-error>
    }
  </mat-form-field>

  <!-- Last Name Field -->
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      oninput="this.value = this.value.charAt(0).toUpperCase() + this.value.slice(1)"
      formControlName="lastName"
    />
    @if (userForm.get('lastName')?.hasError('required')) {
    <mat-error> Last Name is <strong>required</strong> </mat-error>
    }
  </mat-form-field>

  <!-- Email Field with Edit Option -->
  <div style="display: flex; justify-content: flex-start; column-gap: 0.75rem">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [readonly]="!emailEditable" />
      @if (userForm.get('email')?.hasError('required')) {

      <mat-error> Email is <strong>required</strong> </mat-error>
      } @if (userForm.get('email')?.hasError('email')) {
      <mat-error> <strong>Invalid</strong> email </mat-error>
      }
    </mat-form-field>

    <!-- @if (userData?.email) {
    <span>
      <button
        mat-stroked-button
        style="white-space: nowrap"
        (click)="toggleEmailEdit()"
        type="button"
      >
        {{ emailEditable ? "Lock Email" : "Edit Email" }}
      </button>
    </span>
    } -->
  </div>

  <!-- Role Field -->
  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      @for (role of roles; track role) {
      <mat-option [value]="role">
        {{ role }}
      </mat-option>
      }
    </mat-select>
    @if (userForm.get('role')?.hasError('required')) {
    <mat-error> Role is <strong>required</strong> </mat-error>
    }
  </mat-form-field>

  <!-- Change Password Button -->
  <!-- <div>
    <button
      type="button"
      mat-button
      color="primary"
      (click)="togglePasswordField()"
    >
      {{ showPasswordField ? "Hide Password Field" : "Configure Password" }}
    </button>
  </div> -->

  <!-- Password Fields (Conditionally Rendered) -->
  <!-- @if (showPasswordField) {
    <mat-form-field appearance="outline" >
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  } -->
  @if (this.formErrMsgs) {

  <div>
    @for (errorMsg of this.formErrMsgs; track $index) {
    <mat-error>
      <p>
        *<strong>{{ errorMsg | titlecase }}</strong>
      </p>
    </mat-error>
    }
  </div>
  }

  <div class="form-actions">
    <!-- Submit Button (Always Enabled) -->
    <button mat-flat-button color="primary" type="submit">Submit</button>

    <!-- Delete User button (Enabled only in modification mode, when userData is provided) -->
    @if (!userCreation) {
    <button mat-flat-button type="button" color="warn" (click)="onDeleteUser()">
      Delete User
    </button>
    }
  </div>
</form>
