<form class="container" [formGroup]="moveForm">
  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>{{
      "MOVE_REAGENT.STORAGE_LOCATION_LABEL" | translate
    }}</mat-label>
    <input
      matInput
      placeholder="{{
        'MOVE_REAGENT.STORAGE_LOCATION_PLACEHOLDER' | translate
      }}"
      (input)="onRoomNameChange($event)"
      formControlName="storageLocation"
      [matAutocomplete]="auto"
      #storageInput
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayFn"
    >
      @if (storageInput.value) { @if (storageLocations$ | async; as
      storageLocations) { @for (option of storageLocations.storages; track
      option.id) {
      <mat-option [value]="option">
        {{ option.room.name }} {{ option.name }}
      </mat-option>
      } } }
    </mat-autocomplete>
  </mat-form-field>

  <div class="actions">
    <button mat-button mat-dialog-close color="warn">
      {{ "MOVE_REAGENT.CANCEL" | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="moveReagents()">
      {{ "MOVE_REAGENT.MOVE" | translate }}
    </button>
  </div>
</form>
