<div class="row row1">
  @for (card of kpiCards; track $index) {<mat-card>
    <mat-card-header>{{ card.title }}</mat-card-header>
    <mat-card-content>
      <img src="{{ card.icon }}" alt="room alt" class="kpi-icon" />
      <h3 class="kpi-ind">{{ card.ind }}</h3>
    </mat-card-content> </mat-card
  >}
</div>
<div class="row row2">
  <apx-chart
    [series]="roomChartOptions.series"
    [chart]="roomChartOptions.chart"
    [dataLabels]="roomChartOptions.dataLabels"
    [plotOptions]="roomChartOptions.plotOptions"
    [xaxis]="roomChartOptions.xaxis"
    [colors]="roomChartOptions.colors"
    [title]="roomChartOptions.title"
  ></apx-chart>
  <apx-chart
    [series]="userChartOptions.series"
    [chart]="userChartOptions.chart"
    [labels]="userChartOptions.labels"
    [title]="userChartOptions.title"
    [theme]="userChartOptions.theme"
    [responsive]="userChartOptions.responsive"
    [colors]="userChartOptions.colors"
  ></apx-chart>
</div>
