@if (user) {
<div class="profile-details">
  <div>
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <h4>
      {{ "PROFILE.ROLE" | translate }}:
      {{ "PROFILE.ROLE_NAME." + (user.role | uppercase) | translate }}
    </h4>

    <p>Email: {{ user.email }}</p>
    <button
      mat-stroked-button
      type="button"
      (click)="togglePasswordChange()"
      tabindex="0"
      (keydown.enter)="togglePasswordChange()"
    >
      {{ "PROFILE.CHANGE_PASSWORD" | translate }}
      <i class="bi bi-pencil-fill"></i>
    </button>
    @if (changePassword===true) {
    <form
      action=""
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
      @formSlideUp
    >
      <mat-form-field
        subscriptSizing="dynamic"
        appearance="outline"
        class="primary-outline-box-shadow"
      >
        <mat-label>{{ "PROFILE.CURRENT_PASSWORD" | translate }}</mat-label>
        <input
          matInput
          placeholder="{{ 'PROFILE.CURRENT_PASSWORD' | translate }}"
          type="password"
          formControlName="currentPassword"
        />

        @if (controls.currentPassword.hasError('required')) {
        <mat-error>
          {{ "PROFILE.ERRORS.CURRENT_PASSWORD_REQUIRED" | translate }}
        </mat-error>
        } @if (controls.currentPassword.hasError('currentPasswordMismatch')) {
        <mat-error>
          {{ "PROFILE.ERRORS.PASSWORD_INCORRECT" | translate }}
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field
        subscriptSizing="dynamic"
        appearance="outline"
        class="primary-outline-box-shadow"
      >
        <mat-label>{{ "PROFILE.NEW_PASSWORD" | translate }}</mat-label>
        <input
          matInput
          placeholder="{{ 'PROFILE.NEW_PASSWORD' | translate }}"
          type="password"
          formControlName="newPassword"
        />
        @if(controls.newPassword.hasError('required')){
        <mat-error>
          {{ "PROFILE.ERRORS.NEW_PASSWORD_REQUIRED" | translate }}
        </mat-error>
        } @if(controls['newPassword'].errors?.['pattern']){
        <mat-error>
          {{ "PROFILE.ERRORS.PASSWORD_PATTERN" | translate }}
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field
        subscriptSizing="dynamic"
        appearance="outline"
        class="primary-outline-box-shadow"
      >
        <mat-label>{{ "PROFILE.CONFIRM_PASSWORD" | translate }}</mat-label>
        <input
          matInput
          placeholder="{{ 'PROFILE.CONFIRM_PASSWORD' | translate }}"
          type="password"
          formControlName="confirmPassword"
        />
        @if (controls.confirmPassword.hasError('required')) {
        <mat-error>
          {{ "PROFILE.ERRORS.CONFIRM_PASSWORD_REQUIRED" | translate }}
        </mat-error>
        } @if (controls.confirmPassword.hasError('passwordsMatching')) {
        <mat-error>
          {{ "PROFILE.ERRORS.PASSWORDS_NOT_MATCH" | translate }}
        </mat-error>
        }
      </mat-form-field>
      <div class="submit-buttons">
        <button
          mat-stroked-button
          [disabled]="changePasswordForm.invalid"
          type="submit"
        >
          {{ "PROFILE.CHANGE" | translate }}
        </button>
        <button
          mat-stroked-button
          (click)="togglePasswordChange()"
          type="button"
        >
          {{ "PROFILE.CANCEL" | translate }}
        </button>
      </div>
    </form>
    }
  </div>
</div>
}
