.password-change-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.password-change-form {
    max-width: 360px;
    max-height: 440px;
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
    gap: 20px;
    position: relative;
}

#password-field {
    width: 100%;
}

#password-change-h2 {
    color: var(--primary-color);
    font-size: 28px;
    padding: 4px;
}

#change-password-button-submit {
    margin: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.password-change-error {
    position: absolute;
    top: -80px;
    width: 400px;
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid red;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.close-btn {
    cursor: pointer;
    padding: 0 12px;
    font-size: 28px;
    color: red;
}

.password-change-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
