<div class="password-change-container">
  <form
    class="password-change-form"
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-card class="password-change-error">
      Please change your password before proceed
    </mat-card>

    <h2 id="password-change-h2">Change Password</h2>
    <mat-form-field id="password-field" hideRequiredMarker="true">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="currentPassword"
        id="current-password"
      />
      @if (controls['currentPassword'].touched &&
      controls['currentPassword'].invalid) {
      <mat-error>Current password is required.</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="new-password-field" hideRequiredMarker="true">
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="hide.newPassword ? 'password' : 'text'"
        formControlName="newPassword"
        id="new-password"
      />
      <mat-icon matSuffix (click)="hide.newPassword = !hide.newPassword">
        {{ hide.newPassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      @if (controls['newPassword'].errors?.['pattern']) {
      <mat-error>
        Must be longer than 8 letters, contain: A-Z, a-z, 0-9, !#$%^&*
      </mat-error>
      } @if (controls['newPassword'].errors?.['required']) {
      <mat-error>New password is required.</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="confirm-password-field" hideRequiredMarker="true">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hide.confirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        id="confirm-password"
      />
      <mat-icon
        matSuffix
        (click)="hide.confirmPassword = !hide.confirmPassword"
      >
        {{ hide.confirmPassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      @if (controls['confirmPassword'].errors?.['passwordsMatching']) {
      <mat-error>Passwords do not match!</mat-error>
      } @if (controls['confirmPassword'].errors?.['required']) {
      <mat-error>Confirm password is required.</mat-error>
      }
    </mat-form-field>
    <div class="password-change-buttons">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        id="change-password-button-submit"
        [disabled]="changePasswordForm.invalid"
      >
        Change Password
      </button>
    </div>
  </form>
</div>
