<div class="password-change-container">
  <form
    class="password-change-form"
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-card class="password-change-error">
      {{ "PASSWORD_CHANGE.MESSAGE" | translate }}
    </mat-card>

    <h2 id="password-change-h2">{{ "PASSWORD_CHANGE.TITLE" | translate }}</h2>
    <mat-form-field id="password-field" hideRequiredMarker="true">
      <mat-label>{{
        "PASSWORD_CHANGE.CURRENT_PASSWORD" | translate
      }}</mat-label>
      <input
        matInput
        type="password"
        formControlName="currentPassword"
        id="current-password"
      />
      @if (controls['currentPassword'].touched &&
      controls['currentPassword'].invalid) {
      <mat-error>{{
        "PASSWORD_CHANGE.CURRENT_PASSWORD_REQUIRED" | translate
      }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="new-password-field" hideRequiredMarker="true">
      <mat-label>{{ "PASSWORD_CHANGE.NEW_PASSWORD" | translate }}</mat-label>
      <input
        matInput
        [type]="hide.newPassword ? 'password' : 'text'"
        formControlName="newPassword"
        id="new-password"
      />
      <mat-icon matSuffix (click)="hide.newPassword = !hide.newPassword">
        {{ hide.newPassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      @if (controls['newPassword'].errors?.['pattern']) {
      <mat-error>
        {{ "PASSWORD_CHANGE.NEW_PASSWORD_INVALID" | translate }}
      </mat-error>
      } @if (controls['newPassword'].errors?.['required']) {
      <mat-error>{{
        "PASSWORD_CHANGE.NEW_PASSWORD_REQUIRED" | translate
      }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="confirm-password-field" hideRequiredMarker="true">
      <mat-label>{{
        "PASSWORD_CHANGE.CONFIRM_PASSWORD" | translate
      }}</mat-label>
      <input
        matInput
        [type]="hide.confirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        id="confirm-password"
      />
      <mat-icon
        matSuffix
        (click)="hide.confirmPassword = !hide.confirmPassword"
      >
        {{ hide.confirmPassword ? "visibility_off" : "visibility" }}
      </mat-icon>
      @if (controls['confirmPassword'].errors?.['passwordsMatching']) {
      <mat-error>{{
        "PASSWORD_CHANGE.PASSWORDS_DO_NOT_MATCH" | translate
      }}</mat-error>
      } @if (controls['confirmPassword'].errors?.['required']) {
      <mat-error>{{
        "PASSWORD_CHANGE.CONFIRM_PASSWORD_REQUIRED" | translate
      }}</mat-error>
      }
    </mat-form-field>
    <div class="password-change-buttons">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        id="change-password-button-submit"
        [disabled]="changePasswordForm.invalid"
      >
        {{ "PASSWORD_CHANGE.CHANGE_PASSWORD_BUTTON" | translate }}
      </button>
    </div>
  </form>
</div>
