<h5>{{ "EDIT_REQUESTED_REAGENT.TITLE" | translate }}</h5>
<form action="" [formGroup]="reagentRequestForm" (ngSubmit)="onEdit()">
  <mat-form-field appearance="outline">
    <mat-label>{{
      "EDIT_REQUESTED_REAGENT.DESIRED_QUANTITY" | translate
    }}</mat-label>
    <input matInput formControlName="desiredQuantity" />
    @if (hasError('desiredQuantity', 'required')) {
    <mat-error>{{
      "EDIT_REQUESTED_REAGENT.DESIRED_QUANTITY_REQUIRED" | translate
    }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ "EDIT_REQUESTED_REAGENT.PACKAGE" | translate }}</mat-label>
    <mat-select formControlName="package">
      <mat-option [value]="null">{{
        "EDIT_REQUESTED_REAGENT.NONE" | translate
      }}</mat-option>
      @for (pkg of packages; track pkg.value) {
      <mat-option [value]="pkg.value">
        {{ pkg.viewValue }}
      </mat-option>
      }
    </mat-select>
    @if (hasError('package', 'required')) {
    <mat-error>{{
      "EDIT_REQUESTED_REAGENT.PACKAGE_REQUIRED" | translate
    }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Package amount</mat-label>
    <input matInput formControlName="amount" type="number" />
    @if (hasError('amount', 'required')) {
    <mat-error>Package amount is required</mat-error>
    }@else if (hasError('amount','min')){
    <mat-error>Package amount must be more than 0</mat-error>
    }
  </mat-form-field>
  <div class="actions">
    <button mat-raised-button color="primary" type="submit" (click)="onEdit()">
      {{ "EDIT_REQUESTED_REAGENT.UPDATE_BUTTON" | translate }}
    </button>
    <button mat-button color="warn" type="button" (click)="onClose()">
      {{ "EDIT_REQUESTED_REAGENT.CLOSE_BUTTON" | translate }}
    </button>
  </div>
</form>
