@if (isAdmin) {
<div class="header">
  <button class="add-btn" mat-flat-button (click)="openDialog()">
    Add New Room
  </button>
</div>
} @if (roomList$ | async; as roomList){
<div class="mat-elevation-z8 table-container">
  <div class="table-content">
    <mat-table class="table" [dataSource]="roomList">
      <ng-container matColumnDef="room">
        <mat-header-cell *matHeaderCellDef> Room </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="storages">
        <mat-header-cell *matHeaderCellDef> Storages </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.storageCount }}
        </mat-cell>
      </ng-container>

      @if (isAdmin) {
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="edit" (click)="onEdit(element)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="delete"
            (click)="onDelete(element)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      }

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <mat-paginator
    #paginator
    class="paginator"
    (page)="handlePageEvent($event)"
    [length]="10"
    [pageSize]="10"
    [pageIndex]="0"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
}@else {
<app-table-loader-spinner />
}
