:host {
  padding: 10px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.mat-column-storages {
  justify-content: center;
}
