<div class="row">
  <mat-card>
    <apx-chart
      [series]="reagentSampleChartOptions.series"
      [chart]="reagentSampleChartOptions.chart"
      [labels]="reagentSampleChartOptions.labels"
      [title]="reagentSampleChartOptions.title"
      [responsive]="reagentSampleChartOptions.responsive"
      [colors]="reagentSampleChartOptions.colors"
    ></apx-chart>
  </mat-card>
  <mat-card>
    <apx-chart
      [series]="expiredReagentSampleChartOptions.series"
      [chart]="expiredReagentSampleChartOptions.chart"
      [labels]="expiredReagentSampleChartOptions.labels"
      [title]="expiredReagentSampleChartOptions.title"
      [responsive]="expiredReagentSampleChartOptions.responsive"
      [colors]="expiredReagentSampleChartOptions.colors"
    ></apx-chart>
  </mat-card>
  <mat-card>
    <apx-chart
      [series]="emptyReagentSampleChartOptions.series"
      [chart]="emptyReagentSampleChartOptions.chart"
      [labels]="emptyReagentSampleChartOptions.labels"
      [title]="emptyReagentSampleChartOptions.title"
      [responsive]="emptyReagentSampleChartOptions.responsive"
      [colors]="emptyReagentSampleChartOptions.colors"
    ></apx-chart>
  </mat-card>
</div>
