<div class="form-container">
  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    @if(errorMessage()) {
    <mat-card class="login-error">
      {{ errorMessage() }}
      <span
        class="close-btn"
        (keyup)="$event.key === 'Enter' && closeError()"
        (click)="closeError()"
        tabindex="0"
        >×</span
      >
    </mat-card>
    }
    <h2 id="login-h2">{{ "LOGIN.TITLE" | translate }}</h2>

    <mat-form-field id="login-form-field" hideRequiredMarker="true">
      <mat-label>{{ "LOGIN.EMAIL" | translate }}</mat-label>
      <input
        mat-error
        id="email"
        type="email"
        formControlName="email"
        matInput
      />

      @if(emailIsInvalid) {
      <mat-error>{{ "LOGIN.EMAIL_INVALID" | translate }}</mat-error>
      } @else if(emailTouched && !emailIsInvalid) {
      <mat-error>{{ "LOGIN.EMAIL_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field id="login-form-field" hideRequiredMarker="true">
      <mat-label>{{ "LOGIN.PASSWORD" | translate }}</mat-label>
      <input
        id="password"
        type="password"
        formControlName="password"
        matInput
        [type]="hide.confirmPassword ? 'password' : 'text'"
      />
      <mat-icon
        matSuffix
        (click)="hide.confirmPassword = !hide.confirmPassword"
        >{{ hide.confirmPassword ? "visibility_off" : "visibility" }}</mat-icon
      >

      @if(passwordIsInvalid) {
      <mat-error>
        {{ "LOGIN.PASSWORD_INVALID" | translate }}
      </mat-error>
      } @else if(passwordTouched && !passwordIsInvalid) {
      <mat-error>{{ "LOGIN.PASSWORD_REQUIRED" | translate }}</mat-error>
      }
    </mat-form-field>

    <span>
      <button
        mat-stroked-button
        type="button"
        id="login-form-button-fp"
        (click)="navigateToForgotPassword()"
      >
        {{ "LOGIN.FORGOT_PASSWORD" | translate }}
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        id="login-form-button-submit"
        [disabled]="form.invalid"
      >
        {{ "LOGIN.LOGIN_BUTTON" | translate }}
      </button>
    </span>
    @if(isLoading) {
    <div class="login-spinner-container">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="120"
        class="login-spinner"
      >
      </mat-progress-spinner>
    </div>
    }
  </form>
</div>
