<div class="form-container">
  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    @if(errorMessage()) {
    <mat-card class="login-error"
      >{{ errorMessage() }}
      <span
        class="close-btn"
        (keyup)="$event.key === 'Enter' && closeError()"
        (click)="closeError()"
        tabindex="0"
        >×</span
      >
    </mat-card>
    }
    <h2 id="login-h2" id="login-h2">Login</h2>
    <mat-form-field id="login-form-field" hideRequiredMarker="true">
      <mat-label>Email</mat-label>
      <input
        mat-error
        id="email"
        type="email"
        formControlName="email"
        matInput
      />

      @if(emailIsInvalid) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if(emailTouched && !emailIsInvalid) {
      <mat-error>Email is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field id="login-form-field" hideRequiredMarker="true">
      <mat-label>Password</mat-label>
      <input
        id="password"
        type="password"
        formControlName="password"
        matInput
        [type]="hide.confirmPassword ? 'password' : 'text'"
      />
      <mat-icon
        matSuffix
        (click)="hide.confirmPassword = !hide.confirmPassword"
        >{{ hide.confirmPassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      @if (passwordIsInvalid) {
      <mat-error>
        Please enter a valid password (must be at least 8 characters long)
      </mat-error>
      } @if(passwordTouched && !passwordIsInvalid) {
      <mat-error> Password is required </mat-error>
      }
    </mat-form-field>
    <span>
      <button
        mat-stroked-button
        type="button"
        id="login-form-button"
        id="login-form-button-fp"
        (click)="navigateToForgotPassword()"
      >
        Forgot Password?
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        id="login-form-button-submit"
        [disabled]="form.invalid"
      >
        Login
      </button>
    </span>
  </form>
</div>
