.form-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .login-form {
    max-width: 100%;
    width: 360px;
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
    gap: 8px;
    position: relative;
  }

  #login-form-field {
    width: 100%;
  }

  #language-selector {
    width: 100%;
    margin-bottom: 16px;
  }

  #login-h2 {
    color: var(--primary-color);
    font-size: 28px;
    padding: 4px;
  }

  #login-form-button-fp {
    margin: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  #login-form-button-submit {
    margin: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .login-error-container {
    display: flex;
    flex-direction: row;
  }

  .login-error {
    position: absolute;
    top: -80px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.1);
    color: #000;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid red;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .close-btn {
    cursor: pointer;
    padding: 0 12px;
    font-size: 28px;
    color: red;
  }

  .login-spinner-container {
    position: absolute;
    width: 95%;
    height: 93%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .login-spinner {
    position: absolute;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
