:host {
  padding: 10px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: relative;
}

.name-column {
  max-width: 10rem;
  padding: 1rem;
}

img:hover {
  cursor: pointer;
}

.table-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.table-content {
  flex: 1;
  overflow-y: auto;
}

.mat-column-desiredQuantity {
  text-align: center;
}

.actions-container {
  display: flex;
  flex-direction: row;
  gap: 0.5px;
  align-items: center;
}

.button-container {
  padding-bottom: 36px;
}

.status-label {
  display: inline-block;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  color: #000;
  border-radius: 12px;
}

.status-pending {
  background-color: var(--pending-background-color);
  color: var(--pending-color);
  border: 1px solid var(--pending-color);
  padding: 8px;
}

.status-fulfilled {
  background-color: var(--fulfilled-background-color);
  color: var(--fulfilled-color);
  border: 1px solid var(--fulfilled-color);
  padding: 8px;
}

.status-completed {
  background-color: var(--completed-background-color);
  color: var(--completed-color);
  border: 1px solid var(--completed-color);
  padding: 8px;
}

.status-completed {
  background-color: rgba(112, 140, 219, 0.1);
  color: #090082;
  border: 1px solid rgba(20, 0, 130, 0.8);
  padding: 8px;
}

.status-declined {
  background-color: var(--declined-background-color);
  color: var(--declined-color);
  border: 1px solid var(--declined-color);
  padding: 8px;
}

.status-ordered {
  background-color: var(-ordered-background-color);
  color: var(--ordered-color);
  border: 1px solid var(--ordered-color);
  padding: 8px;
}
