.wrapper {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .name-column {
    max-width: 10rem;
    padding: 1rem;
  }
  
  img:hover {
    cursor: pointer;
  }
  
  .table-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    padding: 15px;
  }
  
  .filter-container {
    display: flex;
    gap: 1rem;
  }

  .mat-column-desiredQuantity {
    text-align: center;
  }

  .actions-container {
    display: flex;
    flex-direction: row;
    gap: 0.5px;
    align-items: center;
  }

