@if (reagent$ | async; as reagent) {
<h1 class="header">{{ "REAGENT_PAGE.DETAILS_HEADER" | translate }}</h1>
<button mat-icon-button class="close-button" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
<div class="info">
  <div>
    <img
      src="/assets/icons/reagent.svg"
      alt="{{ 'REAGENT_PAGE.ALT_REAGENT' | translate }}"
    />
  </div>
  <div>
    <h1>{{ "REAGENT_PAGE.NAME" | translate }}: {{ reagent.name }}</h1>

    <div class="structure">
      <h3>
        {{ "REAGENT_PAGE.STRUCTURE" | translate }}:
        <span>{{ reagent.structureSmiles }}</span>
      </h3>
      <app-molecule-structure
        [structure]="reagent.structureSmiles!"
        [width]="150"
        [height]="150"
      ></app-molecule-structure>
    </div>
    @if (reagent.producer) {
    <h3>
      {{ "REAGENT_PAGE.PRODUCER" | translate }}:
      <span>{{ reagent.producer }}</span>
    </h3>
    }
    <h3>
      {{ "REAGENT_PAGE.DESIRED_QUANTITY" | translate }}:
      <span>
        {{ reagent.desiredQuantity }} {{ reagent.quantityUnit }}
        {{ "REAGENT_PAGE.PER" | translate }}
        @if (reagent.package) {
        {{ reagent.package }}
        } @else {
        {{ "REAGENT_PAGE.PACKAGE" | translate }}
        }
      </span>
    </h3>
    @if (reagent.pricePerUnit) {
    <h3>
      {{ "REAGENT_PAGE.PRICE_PER_UNIT" | translate }}:
      <span>{{ reagent.pricePerUnit }}$</span>
    </h3>
    } @if (reagent.casNumber) {
    <h3>
      {{ "REAGENT_PAGE.CAS_NUMBER" | translate }}:
      <span>{{ reagent.casNumber }} </span>
    </h3>
    } @if (reagent.catalogId) {
    <h3>
      {{ "REAGENT_PAGE.CATALOG_ID" | translate }}:
      <span>{{ reagent.catalogId }} </span>
    </h3>
    } @if (reagent.catalogLink) {
    <h3>
      {{ "REAGENT_PAGE.CATALOG_LINK" | translate }}:
      <span>{{ reagent.catalogLink }} </span>
    </h3>
    }
  </div>
</div>
} @else {
<app-table-loader-spinner />
}
