@if (reagent$ | async; as reagent) {
<h1 class="header">Reagent's Details</h1>
<button mat-icon-button class="close-button" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
<div class="info">
  <div>
    <img src="/assets/icons/reagent.svg" alt="reagent" />
  </div>
  <div>
    <h1>Reagent name: {{ reagent.name }}</h1>

    <div class="structure">
      <h3>
        Reagent structure: <span>{{ reagent.structureSmiles }}</span>
      </h3>
      <app-molecule-structure
        [structure]="reagent.structureSmiles!"
        [width]="150"
        [height]="150"
      ></app-molecule-structure>
    </div>
    @if (reagent.producer) {
      <h3>
        Price per unit: <span>{{ reagent.producer }}</span>
      </h3>
      }
    <h3>
      Reagent's desired quantity:
      <span
        >{{ reagent.desiredQuantity }} {{ reagent.quantityUnit }} per @if
        (reagent.package) {
        {{ reagent.package }}
        }@else { package }
      </span>
    </h3>
    @if (reagent.pricePerUnit) {
    <h3>
      Price per unit: <span>{{ reagent.pricePerUnit }}$</span>
    </h3>
    } @if (reagent.casNumber) {
    <h3>
      Reagent's CAS:
      <span>{{ reagent.casNumber }} </span>
    </h3>
    } @if (reagent.catalogId) {
    <h3>
      Reagent's catalog ID:
      <span>{{ reagent.catalogId }} </span>
    </h3>
    }@if (reagent.catalogLink) {
    <h3>
      Reagent's catalog link:
      <span>{{ reagent.catalogLink }} </span>
    </h3>
    }
  </div>
</div>

} @else {
<app-table-loader-spinner />
}
