mat-toolbar{
  background-color: #f0f4f8;
  border-bottom: 1px solid #9bb6ca;
  padding: 20px 10px;
}

app-header {
  height: 40px;
  font-size: 20px;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

