<h5 class="header">
  {{
    "EDIT_REAGENT.HEADER"
      | translate
        : {
            category:
              "CATEGORIES." + editionData.category.toUpperCase() | translate
          }
  }}
</h5>
<form [formGroup]="reagentRequestForm" (ngSubmit)="onSubmit()">
  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>{{ "EDIT_REAGENT.QUANTITY_LEFT" | translate }}</mat-label>
    <input matInput formControlName="quantityLeft" type="number" />
    @if (reagentRequestForm.get('quantityLeft')?.hasError('required') &&
    reagentRequestForm.get('quantityLeft')?.touched) {
    <mat-error>{{
      "EDIT_REAGENT.ERRORS.QUANTITY_LEFT_REQUIRED" | translate
    }}</mat-error>
    } @if (reagentRequestForm.get('quantityLeft')?.hasError('pattern')) {
    <mat-error>{{
      "EDIT_REAGENT.ERRORS.QUANTITY_LEFT_INVALID" | translate
    }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic" appearance="outline">
    <mat-label>{{ "EDIT_REAGENT.STORAGE_LOCATION" | translate }}</mat-label>
    <input
      matInput
      placeholder="{{
        'EDIT_REAGENT.STORAGE_LOCATION_PLACEHOLDER' | translate
      }}"
      (input)="onRoomNameChange($event)"
      formControlName="storageLocation"
      [matAutocomplete]="auto"
      #storageInput
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
      @if (storageInput.value) {
        @if (storageLocations$ | async; as storageLocations) {
          @if (storageLocations.size) {
            @for (option of storageLocations.storages; track option.id) {
            <mat-option [value]="option">
              {{ option.room.name }} {{ option.name }}
            </mat-option>
            }
          }
        }
      }
    </mat-autocomplete>
    @if (hasError('storageLocation', 'required')) {
    <mat-error>{{
      "EDIT_REAGENT.ERRORS.STORAGE_LOCATION_REQUIRED" | translate
    }}</mat-error>
    } @if (hasError('storageLocation', 'invalidOption')) {
    <mat-error>{{
      "EDIT_REAGENT.ERRORS.STORAGE_LOCATION_INVALID" | translate
    }}</mat-error>
    }
  </mat-form-field>
  <div class="actions">
    <button mat-button color="warn" type="button" mat-dialog-close>
      {{ "BUTTONS.CANCEL" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="reagentRequestForm.pristine || reagentRequestForm.invalid"
    >
      {{ "BUTTONS.EDIT" | translate }}
    </button>
  </div>
</form>
