:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.header {
  margin: 0;
  text-align: center;
  color: var(--primary-color-dark);
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

mat-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding-block: 1rem;
}

mat-card-content{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  gap: 1rem;
}

.reagent-structure{
  position: relative;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-reagent-structure img{
  width: 200px;
  object-fit: cover;
  opacity: 0.3;
  transform: rotate(90deg);
}

.copy-button{
  position: absolute;
  top: -10px;
  right: 0;
}

.smiles{
  margin-top: 1rem;
}

.reagent-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.reagent-details span, .smiles span{
  font-weight: bold;
}

.actions{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.actions_delete.mat-mdc-fab {
  background-color: var(--error-light-color);
}

.actions_delete.mat-accent.mat-mdc-fab{
  color: var(--error-color);
}

.actions_delete.mat-mdc-fab:hover {
  background-color: var(--error-progress-bg-color);
}

@media (max-width: 1100px) {
  .reagent-details {
    grid-template-columns: 1fr;
  }
}
