@if (reagent$ | async; as reagent) { <div class="header">
  <h5>{{ reagent.category }} details</h5>
</div>
<mat-card class="reagent-info-wrapper">
  <mat-card-content>
  <div class="reagent-structure">
    @if (reagent.structure) {
      <button class="copy-button" mat-icon-button onclick="this.blur()" (click)="onCopyStructure()"
        matTooltip="Copy structure">
        <mat-icon>content_copy</mat-icon>
      </button>
      <app-molecule-structure [structure]="reagent.structure" [width]="300" [height]="300"></app-molecule-structure>
      <p class="smiles"><span>SMILES:</span> {{reagent.structure}}</p>
    } @else {
        <div class="no-reagent-structure">
        <p>No structure provided</p>
        <img src="/assets/icons/reagent.svg" alt="invalid structure image">
      </div>
      }
  </div>

  <div class="reagent-details">
      <p><span>Name:</span> {{ reagent.name }}</p>
      <p><span>ID:</span> {{ reagent.id }}</p>
      <p><span>Category:</span> {{ reagent.category || "-" }}</p>
      <p><span>Quantity:</span> {{ reagent.quantityLeft }} {{ reagent.quantityUnit }}
    </p>
      <p><span>Description:</span> {{ reagent.description || "-"}}</p>
      <p><span>CAS:</span> {{ reagent.casNumber || "-" }}</p>
      <p><span>Producer:</span> {{ reagent.producer || "-" }}</p>
      <p><span>Catalog ID:</span> {{ reagent.catalogId|| "-" }}</p>
      <p><span>Price:</span> @if(reagent.pricePerUnit){ {{ reagent.pricePerUnit }}$ per {{ reagent.quantityUnit }}}
        @else{ - } </p>
        <p><span>Catalog link: </span> @if(reagent.catalogLink){ <a [href]="reagent.catalogLink">{{ reagent.catalogLink }}</a> } @else {-}
        </p>
  </div>
</mat-card-content>
<div class="actions">
  <button  mat-fab extended class="actions_edit" (click)="onEditReagent(reagent)">Edit quantity<mat-icon>edit</mat-icon></button>
  <button  mat-fab extended class="actions_edit" (click)="onHistory(reagent)">See Reagent History<mat-icon>history</mat-icon></button>
  @if(isProcurementOfficer){
    <button  mat-fab extended  class="actions_delete" (click)="onDeleteReagent(reagent)">Delete reagent<mat-icon color="warn">delete</mat-icon></button>
  }
</div>
</mat-card> } @else { <app-table-loader-spinner /> }
