:host {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}

.header {
  margin: 0;
  text-align: center;
  color: var(--primary-color-dark);
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  gap: 50px;
}

.general-info-card {
  flex: 2;
}

.structure-card {
  flex: 1;
}

mat-card {
  width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  color: var(--primary-color-dark);
  margin-bottom: 25px;
}

.mat-headline {
  font-weight: bold;
  font-size: initial;
}

mat-card-content {
  padding: 24px;
}

.detail-columns {
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.detail-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  word-spacing: 2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.label {
  font-weight: bold;
  flex: 0 0 40%;
}

.value {
  text-align: right;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value.truncated {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-break: break-word;
}

.structure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

@media screen and (max-width: 1025px) {
  .content-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .structure-card {
    order: 1;
    mat-card-header {
      margin: 0;
    }

    mat-card-content {
      padding: 0;
    }
  }

  .structure-container {
    gap: 10px;
  }

  .general-info-card {
    order: 2;
    margin-bottom: 10px;
  }

  .detail-columns {
    gap: 20px;
  }

  .value.truncated {
    text-align: end;
  }
}

@media screen and (max-width: 426px) {
  .detail-columns {
    flex-direction: column;
  }
}
