<p class="header">
  {{
    editionData
      ? ("ADD_EDIT_ROOM.EDIT" | translate)
      : ("ADD_EDIT_ROOM.ADD_NEW" | translate)
  }}
  {{ "ADD_EDIT_ROOM.ROOM" | translate }}
</p>
<form class="form" [formGroup]="roomForm" (submit)="onSave()">
  <mat-form-field hideRequiredMarker>
    <mat-label>{{ "ADD_EDIT_ROOM.ROOM_LABEL" | translate }}</mat-label>
    <input matInput formControlName="name" />
    @if (hasError('name', 'required')) {
    <mat-error>{{
      "ADD_EDIT_ROOM.ERRORS.ROOM_REQUIRED" | translate
    }}</mat-error>
    } @if (hasError('name', 'serverError')) {
    <mat-error>{{ getErrorMessage("name", "serverError") }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>{{ "ADD_EDIT_ROOM.DESCRIPTION_LABEL" | translate }}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div class="actions">
    <button
      class="cancel-btn"
      type="button"
      mat-button
      mat-dialog-close
      color="warn"
    >
      {{ "ADD_EDIT_ROOM.CANCEL" | translate }}
    </button>
    <button
      type="submit"
      [disabled]="roomForm.invalid || (editionData && !hasFormChanged())"
      class="save-btn"
      mat-flat-button
    >
      {{
        editionData
          ? ("ADD_EDIT_ROOM.EDIT" | translate)
          : ("ADD_EDIT_ROOM.SAVE" | translate)
      }}
    </button>
  </div>
</form>
