.wrapper {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

mat-cell {
  height: 120px;
}

.name-column {
  max-width: 10rem;
  padding: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.create-btns {
  display: flex;
  column-gap: 10px;
}

img:hover {
  cursor: pointer;
}

.table-wrapper {
  overflow-x: scroll;
  padding: 15px;
}

.filter-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
