:host {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.info {
  margin: 0 100px;
  display: flex;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;

  .title {
    color: var(--primary-color-dark);
  }

  .description {
    color: var(--primary-color);
  }
}

.storage-icon {
  width: 256px;
  height: 256px;
}
