@if (storageLocation$ | async; as storageLocation) {
<div class="info">
  <div class="icon">
    <img
      class="storage-icon"
      src="assets/icons/storage.svg"
      alt="{{ 'STORAGE_LOCATION_DETAIL.ALT_STORAGE' | translate }}"
    />
  </div>
  <div class="content">
    <h5 class="title">{{ storageLocation.room.name }}</h5>
    <p class="description">{{ storageLocation.room.description }}</p>

    <h6 class="title">{{ storageLocation.name }}</h6>
    <p class="description">{{ storageLocation.description }}</p>
  </div>
</div>
<app-reagents-list [storageLocationId]="storageLocation.id"></app-reagents-list>
}
