:host {
  padding: 5px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.info {
  margin: 0 100px;
  display: flex;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;

  .title {
    color: var(--primary-color-dark);
  }

  .description {
    color: var(--primary-color);
  }
}

.storage-icon {
  width: 164px;
  height: 164px;
}
