@if (storageLocation$ | async; as storageLocation) {
<div class="info">
  <div class="icon">
    <img class="storage-icon" src="assets/icons/storage.svg" alt="storage" />
  </div>
  <div class="content">
    <h3 class="title">{{ storageLocation.room.name }}</h3>
    <p class="description">{{ storageLocation.room.description }}</p>

    <h4 class="title">{{ storageLocation.name }}</h4>
    <p class="description">{{ storageLocation.description }}</p>
  </div>
</div>
<app-reagents-list [storageLocationId]="storageLocation.id"></app-reagents-list>
}
