@use "@angular/material" as mat;

@include mat.core();

$elab-fe-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($elab-fe-theme);
  --primary-color-dark: #06417D;
  --primary-color: #1469c0;
  --primary-color-light: #8DC0FF;

  --neutral-color-dark2: #1D3E5B;
  --neutral-color-dark1: #496984;
  --neutral-color-light1: #9BB6CA;
  --neutral-color-light2: #F0F4F8;

  --error-color: #be1a1a;
  --warning-color: #f7d070;
  --success-color: #159815;
  --info-color: #1469c0;

  --success-light-color: #d4edda;
  --success-progress-bg-color: #77b285;

  --error-light-color: #f8d7da;
  --error-progress-bg-color: #e5a1a1;

  --warning-light-color: #fff3cd;
  --warning-progress-bg-color: #fce588;

  --info-light-color: #cce5ff;
  --info-progress-bg-color: #82bfd3;

  --header-height: 60px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
