<div class="content">
  <h5 mat-dialog-title>{{ "REAGENTS_LIST.HISTORY" | translate }}</h5>
  <div class="table-container mat-elevation-z8">
    @if (reagentHistory$ | async; as reagentHistory){
    <div class="table-content">
      <table mat-table [dataSource]="reagentHistory">
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            {{ "REAGENTS_HISTORY_TABLE.TABLE.ACTION" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              "REAGENTS_HISTORY_TABLE.ACTION." + element.action
                | translate
                | uppercase
            }}
          </td>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>
            {{ "REAGENTS_HISTORY_TABLE.TABLE.TIME_STAMP" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.timestamp | date : "HH:mm:ss dd-MM-yyyy" }}
          </td>
        </ng-container>

        <!-- Old Storage Location Column -->
        <ng-container matColumnDef="oldStorage">
          <th mat-header-cell *matHeaderCellDef>
            {{
              "REAGENTS_HISTORY_TABLE.TABLE.OLD_STORAGE_LOCATION" | translate
            }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.oldData?.storage?.name || "N/A" }}
          </td>
        </ng-container>

        <!-- New Storage Location Column -->
        <ng-container matColumnDef="newStorage">
          <th mat-header-cell *matHeaderCellDef>
            {{
              "REAGENTS_HISTORY_TABLE.TABLE.NEW_STORAGE_LOCATION" | translate
            }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.newData?.storage?.room?.name || "N/A" }}
          </td>
        </ng-container>

        <!-- Old Quantity Column -->
        <ng-container matColumnDef="oldQuantity">
          <th mat-header-cell *matHeaderCellDef>
            {{ "REAGENTS_HISTORY_TABLE.TABLE.OLD_QUANTITY" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.oldData?.quantityLeft || "N/A" }}
            {{ element.oldData?.quantityUnit || "" }}
          </td>
        </ng-container>

        <!-- New Quantity Column -->
        <ng-container matColumnDef="newQuantity">
          <th mat-header-cell *matHeaderCellDef>
            {{ "REAGENTS_HISTORY_TABLE.TABLE.NEW_QUANTITY" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.newData?.quantityLeft || "N/A" }}
            {{ element.newData?.quantityUnit || "" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="usedReagents">
          <th mat-header-cell *matHeaderCellDef>
            {{ "REAGENTS_HISTORY_TABLE.TABLE.USED_REAGENTS" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            @if (element.newData?.category === 'Sample' &&
            element.newData?.usedReagentSample?.length) {
            <ol>
              @for (reagent of element.newData.usedReagentSample; track reagent)
              {
              <li>{{ reagent.name }}</li>
              }
            </ol>
            } @else { N/A }
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    }@else {
    <app-table-loader-spinner />
    }
  </div>
</div>
