<p class="header">Add New Storage Location</p>
<form class="form" [formGroup]="addStorageForm">
  <mat-form-field hideRequiredMarker>
    <mat-label>Room</mat-label>
    <input matInput formControlName="room" [matAutocomplete]="autoRoom" />
    <mat-autocomplete #autoRoom="matAutocomplete">
      @for (room of filteredRooms$ | async; track $index) {
      <mat-option [value]="room">
        {{ room }}
      </mat-option>
      }
    </mat-autocomplete>
    @if (hasError('room', 'required')) {
    <mat-error>Room is required</mat-error>
    }@if (hasError('room', 'maxlength')) {
    <mat-error>Room length should be less than {{ MAX_LENGTH }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    @if (hasError('name', 'required')) {
    <mat-error>Name is required</mat-error>
    }@if (hasError('name', 'maxlength')) {
    <mat-error>Name length should be less than {{ MAX_LENGTH }}</mat-error>
    }@if (hasError('name', 'uniqueName')) {
    <mat-error>{{ locationName }} already exists</mat-error>
    }
  </mat-form-field>
  <mat-form-field hideRequiredMarker>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div class="actions">
    <button
      class="cancel-btn"
      type="button"
      mat-button
      mat-dialog-close
      color="warn"
    >
      Cancel
    </button>
    <button
      type="submit"
      [disabled]="addStorageForm.invalid"
      class="save-btn"
      mat-flat-button
    >
      Save
    </button>
  </div>
</form>
