<div class="wrapper">
  <div class="actions">
    <!-- <button mat-flat-button color="primary" (click)="openCreateReagentRequestDialog()">
              Create New Request
            </button> -->

    <div class="filter-container">
      <mat-form-field appearance="fill">
        <mat-label>Filter by Status</mat-label>
        <mat-select [(ngModel)]="selectedStatus">
          <mat-option value="">All Statuses</mat-option>
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Ordered">Ordered</mat-option>
          <mat-option value="Declined">Declined</mat-option>
          <mat-option value="Fulfilled">Fulfilled</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Filter by Name</mat-label>
        <input matInput [(ngModel)]="filterName" placeholder="Enter name" />
      </mat-form-field>
    </div>
  </div>

  <div class="table-wrapper">
    <table mat-table matSort class="mat-elevation-z8">
      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <!-- Structure -->
      <ng-container matColumnDef="structureImage">
        <th mat-header-cell *matHeaderCellDef>Structure</th>
        <td mat-cell *matCellDef="let element">
          <!-- In progress -->
          <!-- <app-molecule-structure
                [structureImage]="element.structureImage"
                [width]="100"
                [height]="100"
              ></app-molecule-structure> -->
        </td>
      </ng-container>
      <!-- CAS -->
      <ng-container matColumnDef="casNumber">
        <th mat-header-cell *matHeaderCellDef>CAS Number</th>
        <td mat-cell *matCellDef="let element">
          @if (element.casNumber) {
          {{ element.casNumber }}
          } @else { N/A }
        </td>
      </ng-container>
      <!-- Desired quantity -->
      <ng-container matColumnDef="desiredQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Desired Quantity
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.desiredQuantity }}
        </td>
      </ng-container>
      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <!-- User comments -->
      <ng-container matColumnDef="userComments">
        <th mat-header-cell *matHeaderCellDef>User Comments</th>
        <td mat-cell *matCellDef="let element">
          @if (element.userComments) {
          {{ element.userComments }}
          } @else { N/A }
        </td>
      </ng-container>
      <!-- Procurement comments -->
      <ng-container matColumnDef="procurementComments">
        <th mat-header-cell *matHeaderCellDef>Procurement Comments</th>
        <td mat-cell *matCellDef="let element">
          @if (element.procurementComments) {
          {{ element.procurementComments }}
          } @else { N/A }
        </td>
      </ng-container>
      <!-- Created at -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date : "short" }}
        </td>
      </ng-container>
      <!-- Updated at -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
        <td mat-cell *matCellDef="let element">
          {{ element.updatedAt | date : "short" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    class="demo-paginator"
    [pageSize]="10"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 20]"
    [pageIndex]="currentPage"
  ></mat-paginator>
</div>
