<div class="container">
  <h5 class="title">Change Password</h5>
  <form class="form" [formGroup]="newPasswordForm" (submit)="onSubmit()">
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="hasError('email', 'required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="hasError('email', 'email')">
        Enter a valid email
      </mat-error>
      <mat-error *ngIf="hasError('email', 'emailNotExist')">
        Email doesn't exist
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>New password</mat-label>
      <input
        type="password"
        matInput
        formControlName="newPassword"
        [type]="hide.newPassword ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide.newPassword = !hide.newPassword">{{
        hide.newPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
      <mat-error *ngIf="hasError('newPassword', 'required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="hasError('newPassword', 'minlength')">
        Password must have at least {{ MIN_LENGTH }} characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Confirm password</mat-label>
      <input
        type="password"
        matInput
        formControlName="confirmPassword"
        [type]="hide.confirmPassword ? 'password' : 'text'"
      />
      <mat-icon
        matSuffix
        (click)="hide.confirmPassword = !hide.confirmPassword"
        >{{ hide.confirmPassword ? "visibility_off" : "visibility" }}</mat-icon
      >
      <mat-error *ngIf="hasError('confirmPassword', 'required')">
        Confirm password is required
      </mat-error>
      <mat-error *ngIf="hasError('confirmPassword', 'passwordNoMatch')">
        Password doesn't match
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button class="cancel-btn" mat-button (click)="onCancel()">Cancel</button>
      <button
        type="submit"
        [disabled]="newPasswordForm.invalid"
        class="change-btn"
        mat-flat-button
      >
        Change
      </button>
    </div>
  </form>
</div>
