:host {
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 360px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
