:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 0 5px var(--primary-color);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
