<div class="container">
  @if (!sendEmailSuccess().isSuccess) {
  <form class="form" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
    <h5 class="title">Forgot Password</h5>
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if (hasError('email', 'required')) {
      <mat-error> Email is required </mat-error>
      } @if ( hasError('email', 'email') ) {
      <mat-error> Enter a valid email </mat-error>
      } @if (hasError('email', 'emailNotExist')) {
      <mat-error> Email doesn't exist </mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button
        type="button"
        class="cancel-btn"
        mat-button
        (click)="redirectTo('login')"
      >
        Login
      </button>
      <button
        type="submit"
        [disabled]="forgotPasswordForm.invalid || isLoading()"
        mat-flat-button
        color="primary"
      >
        @if (!isLoading()) {
        <span>Submit</span>
        } @else {
        <mat-progress-spinner
          [diameter]="24"
          mode="indeterminate"
          color="primary"
        >
        </mat-progress-spinner>
        }
      </button>
    </div>
  </form>
  } @else {
  <div class="success">
    <mat-icon class="success__icon">check_circle</mat-icon>
    <p class="success__message">{{ sendEmailSuccess().message }}</p>
  </div>
  }
</div>
