<h5 class="header">Create New {{ isSample ? "Sample" : "Reagent" }}</h5>
<form [formGroup]="reagentRequestForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>General</mat-card-header>
    <mat-card-content>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (reagentRequestForm.get('name')?.invalid &&
        reagentRequestForm.get('name')?.touched) {
        <mat-error>Name is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Expiration Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="expirationDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Storage Location</mat-label>
        <input
          matInput
          placeholder="e.g: Room1 Cabinet1-Shelf1"
          (input)="onRoomNameChange($event)"
          formControlName="storageLocation"
          [matAutocomplete]="auto"
          #storageInput
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="displayFn"
        >
          @if (storageInput.value) { @if (storageLocations$ | async; as
          storageLocations) { @for (option of storageLocations.storages; track
          option.id) {
          <mat-option [value]="option">
            {{ option.room.name }} {{ option.name }}
          </mat-option>
          } } }
        </mat-autocomplete>
        @if (hasError('storageLocation', 'required')) {
        <mat-error>Storage Location is required.</mat-error>
        } @if (hasError('storageLocation', 'invalidOption')) {
        <mat-error>Select correct Storage Location.</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>Quantity</mat-card-header>
    <mat-card-content>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Quantity Unit</mat-label>
        <input matInput formControlName="quantityUnit" />
        <!-- <mat-select formControlName="quantityUnit">
          @for (unit of units; track unit) {
          <mat-option [value]="unit.value">{{ unit.viewValue }}</mat-option>
          }
        </mat-select> -->
        @if (reagentRequestForm.get('quantityUnit')?.invalid &&
        reagentRequestForm.get('quantityUnit')?.touched) {
        <mat-error>Quantity Unit is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Total Quantity</mat-label>
        <input matInput formControlName="totalQuantity" type="number" />
        @if (reagentRequestForm.get('totalQuantity')?.hasError('required') &&
        reagentRequestForm.get('totalQuantity')?.touched) {
        <mat-error>Total Quantity is required.</mat-error>
        } @if (reagentRequestForm.get('totalQuantity')?.hasError('pattern')) {
        <mat-error>Total Quantity must be a valid number.</mat-error>
        }
      </mat-form-field>

      @if (!isSample) {
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Quantity Left</mat-label>
        <input matInput formControlName="quantityLeft" type="number" />
        @if (reagentRequestForm.get('quantityLeft')?.hasError('required') &&
        reagentRequestForm.get('quantityLeft')?.touched) {
        <mat-error>Quantity Left is required.</mat-error>
        } @if (reagentRequestForm.get('quantityLeft')?.hasError('pattern')) {
        <mat-error>Quantity Left must be a valid number.</mat-error>
        }
      </mat-form-field>
      }
    </mat-card-content>
  </mat-card>

  @if(isSample) {
  <mat-card
    [ngClass]="{ errorCard: isSample && hasReagentSampleError() }"
    class="reagents-card"
  >
    <mat-card-header>
      Reagents*
      <button
        mat-icon-button
        type="button"
        style="margin-left: auto"
        (click)="openAddReagentDialog()"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="reagents-card-content">
      @if(selectedReagentSample().length) {
      <p class="reagents-selected">
        Selected {{ selectedReagentSample().length }} reagents
      </p>
      <div class="reagents-list">
        @for (item of selectedReagentSample(); track $index; let i = $index) {
        <mat-card>
          <mat-card-content class="reagent-item">
            <p class="reagent-item__seq">{{ i + 1 }}.</p>
            <p class="reagent-item__name">{{ item.name }}</p>
            <p class="reagent-item__quantity">
              {{ item.quantityUsed }} {{ item.quantityUnit }}
            </p>
            <app-molecule-structure
              class="reagent-item__structure"
              [structure]="item.structure"
              [width]="50"
              [height]="50"
            />
          </mat-card-content>
        </mat-card>
        }
      </div>
      }
      <div class="reagent-action">
        @if (hasError('usedReagentSample', 'required')) {
        <mat-error>Reagents are required</mat-error>
        }
      </div>
    </mat-card-content>
  </mat-card>
  }

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Structure </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-panel-body">
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Structure</mat-label>
          <input matInput formControlName="structure" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="openStructureEditor()"
          >
            <mat-icon>draw</mat-icon>
          </button>
        </mat-form-field>

        @if (!isSample) {
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>CAS Number</mat-label>
          <input matInput formControlName="casNumber" />
          @if (reagentRequestForm.get('casNumber')?.hasError('minlength')) {
          <mat-error>CAS Number must be at least 5 characters long.</mat-error>
          } @if (reagentRequestForm.get('casNumber')?.hasError('maxlength')) {
          <mat-error
            >CAS Number cannot be more than 10 characters long.</mat-error
          >
          }
        </mat-form-field>
        }
      </div>
    </mat-expansion-panel>

    @if(!isSample){
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Order Details </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expansion-panel-body">
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Producer</mat-label>
          <input matInput formControlName="producer" />
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Catalog ID</mat-label>
          <input matInput formControlName="catalogId" />
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Catalog Link</mat-label>
          <input matInput formControlName="catalogLink" />
          @if (reagentRequestForm.get('catalogLink')?.hasError('pattern')) {
          <mat-error>Catalog Link must be a valid URL.</mat-error>
          }
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Price Per Unit</mat-label>
          <input matInput formControlName="pricePerUnit" type="number" />
          @if (reagentRequestForm.get('pricePerUnit')?.hasError('pattern')) {
          <mat-error>Price Per Unit must be a valid number.</mat-error>
          }
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    }
  </mat-accordion>

  <div class="actions mat-elevation-z6">
    <button
      mat-button
      color="warn"
      type="button"
      (click)="redirectToReagentList()"
    >
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </div>
</form>
