:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
}

.header {
  margin: 0;
  text-align: center;
  color: var(--primary-color-dark);
}

form {
  min-width: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  align-items: baseline;
  position: relative;
}

form > mat-card {
  width: 100%;
  background-color: var(--mat-card-background-color);
}

form > mat-card:not(.reagents-card) {
  min-height: 200px;
}

mat-accordion {
  width: 100%;
}

mat-form-field {
  width: calc((100% - 28px) / 2);
  min-width: 280px;
  height: 50px;
}

mat-card-header,
mat-panel-title {
  color: var(--primary-color-dark);
  font-weight: 400;
}

mat-card-header,
mat-expansion-panel mat-expansion-panel-header {
  padding: 0.5rem 1.5rem;
  height: 1.5rem;
}

mat-card-content {
  padding: 0 1.5rem;
}

mat-card-content,
.expansion-panel-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
}

.errorCard {
  box-shadow: 0 0 10px var(--error-color);
}

.reagents-card > mat-card-header {
  padding-right: 0.5rem;
}

.reagents-card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    padding: 0;
    margin: 0;
  }

  .reagents-selected {
    color: var(--primary-color-dark);
    opacity: 0.5;
  }

  .reagents-list {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 0.5rem;

    .reagent-item {
      height: 60px;
      display: flex;
      flex-direction: row !important;
      justify-content: start;
      align-items: center;
      padding: 0;
      background-color: var(--mat-card-background-color);

      &__seq {
        width: 10px;
      }

      &__name {
        width: 100px;
      }

      &__quantity {
        width: 75px;
      }

      &__structure {
        text-align: center;
        flex-grow: 2;
        font-size: 10px;
      }
    }
  }
  .reagent-action {
    display: flex;
    align-items: center;
  }
}

.actions {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--mat-card-background-color);
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-radius: 12px 12px 0 0;
}
